## data extraction

In [109]:
import pandas as pd
import time
import datetime

In [110]:
start_time = time. time()
end_time = time. time()

In [111]:
source_file_df=pd.read_csv(r'C:\Users\Pavan_Soma\Desktop\bigdata training\Practice Data\consolidated_movie_ratings_uncleaned.csv')

In [112]:
source_file_df.count()

user id         99992
movie id        99998
rating         100000
timestamp      100000
movie_names    100000
dtype: int64

In [113]:
source_file_df.describe()

            user id      movie id         rating     timestamp
count  99992.000000  99998.000000  100000.000000  1.000000e+05
mean     462.482659    425.532321       3.530540  8.835289e+08
std      266.607169    330.799703       1.127608  5.343856e+06
min        1.000000      1.000000       1.000000  8.747247e+08
25%      254.000000    175.000000       3.000000  8.794487e+08
50%      447.000000    322.000000       4.000000  8.828269e+08
75%      682.000000    631.000000       4.000000  8.882600e+08
max      943.000000   1682.000000      10.000000  8.932866e+08

## data Cleaning

In [114]:
#dropping the missing user_id and movie_id values

In [115]:
cleaned_df = source_file_df.dropna()

In [116]:
cleaned_df.describe()

            user id      movie id        rating     timestamp
count  99990.000000  99990.000000  99990.000000  9.999000e+04
mean     462.490899    425.538894      3.530623  8.835292e+08
std      266.603394    330.801186      1.127589  5.343944e+06
min        1.000000      1.000000      1.000000  8.747247e+08
25%      254.000000    175.000000      3.000000  8.794487e+08
50%      447.000000    322.000000      4.000000  8.828270e+08
75%      682.000000    631.000000      4.000000  8.882600e+08
max      943.000000   1682.000000     10.000000  8.932866e+08

In [117]:
cleaned_df = source_file_df.fillna(0)

In [118]:
cleaned_df

       user id  movie id  rating  timestamp                   movie_names
0        196.0     242.0       3  881250949                  Kolya (1996)
1        186.0     302.0       8  891717742      L.A. Confidential (1997)
2         22.0     377.0       1  878887116           Heavyweights (1994)
3        244.0      51.0       2  880606923    Legends of the Fall (1994)
4        166.0     346.0       1  886397596           Jackie Brown (1997)
...        ...       ...     ...        ...                           ...
99995      0.0     476.0       3  880175444  First Wives Club, The (1996)
99996      0.0     204.0       5  879795543     Back to the Future (1985)
99997      0.0    1090.0       1  874795795                 Sliver (1993)
99998      0.0     225.0       2  882399156         101 Dalmatians (1996)
99999      0.0     203.0       3  879959583             Unforgiven (1992)

[100000 rows x 5 columns]

## Data Transformation/ optimization

In [119]:
cleaned_df['timestamp']=pd.to_datetime(cleaned_df.timestamp)

In [120]:
cleaned_df['movie_names']=cleaned_df['movie_names'].str.lower()

In [121]:
cleaned_df

,user id,movie id,rating,timestamp,movie_names
0,196.0,242.0,3,1970-01-01 00:00:00.881250949,kolya (1996)
1,186.0,302.0,8,1970-01-01 00:00:00.891717742,l.a. confidential (1997)
2,22.0,377.0,1,1970-01-01 00:00:00.878887116,heavyweights (1994)
3,244.0,51.0,2,1970-01-01 00:00:00.880606923,legends of the fall (1994)
4,166.0,346.0,1,1970-01-01 00:00:00.886397596,jackie brown (1997)
...,...,...,...,...,...
99995,0.0,476.0,3,1970-01-01 00:00:00.880175444,"first wives club, the (1996)"
99996,0.0,204.0,5,1970-01-01 00:00:00.879795543,back to the future (1985)
99997,0.0,1090.0,1,1970-01-01 00:00:00.874795795,sliver (1993)
99998,0.0,225.0,2,1970-01-01 00:00:00.882399156,101 dalmatians (1996)
99999,0.0,203.0,3,1970-01-01 00:00:00.879959583,unforgiven (1992)

## reading parts of data

In [122]:
#chunk size is 1000, we can change from any chunk size based on your system configuration
chunker = pd.read_csv(r'C:\Users\Pavan_Soma\Desktop\bigdata training\Practice Data\consolidated_movie_ratings_uncleaned.csv', chunksize=1000)

In [123]:
for data in chunker:
    data['timestamp']=pd.to_datetime(data.timestamp)
    data['movie_names']=data['movie_names'].str.lower()
    print(data)

     user id  movie id  rating                     timestamp  \
0        196     242.0       3 1970-01-01 00:00:00.881250949
1        186     302.0       8 1970-01-01 00:00:00.891717742
2         22     377.0       1 1970-01-01 00:00:00.878887116
3        244      51.0       2 1970-01-01 00:00:00.880606923
4        166     346.0       1 1970-01-01 00:00:00.886397596
..       ...       ...     ...                           ...
995      194      77.0       3 1970-01-01 00:00:00.879527421
996      208     663.0       5 1970-01-01 00:00:00.883108476
997      109     178.0       3 1970-01-01 00:00:00.880572950
998      230     172.0       4 1970-01-01 00:00:00.880484523
999       59     485.0       2 1970-01-01 00:00:00.888204466

                         movie_names
0                       kolya (1996)
1           l.a. confidential (1997)
2                heavyweights (1994)
3         legends of the fall (1994)
4                jackie brown (1997)
..                               ...
995                 firm, the (1993)
996               being there (1979)
997              12 angry men (1957)
998  empire strikes back, the (1980)
999              my fair lady (1964)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
1000      313       478       3 1970-01-01 00:00:00.891014373
1001       70      1133       3 1970-01-01 00:00:00.884151344
1002       62       182       5 1970-01-01 00:00:00.879375169
1003      198       234       3 1970-01-01 00:00:00.884207833
1004       65       125       4 1970-01-01 00:00:00.879217509
...       ...       ...     ...                           ...
1995      151        89       5 1970-01-01 00:00:00.879524491
1996      248       475       5 1970-01-01 00:00:00.884535446
1997       95      1229       2 1970-01-01 00:00:00.879198800
1998      213       609       4 1970-01-01 00:00:00.878955533
1999      203       181       5 1970-01-01 00:00:00.880434278

                          movie_names
1000   philadelphia story, the (1940)
1001  escape to witch mountain (1975)
1002                goodfellas (1990)
1003                      jaws (1975)
1004                phenomenon (1996)
...                               ...
1995              blade runner (1982)
1996             trainspotting (1996)
1997             poison ivy ii (1995)
1998       father of the bride (1950)
1999        return of the jedi (1983)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
2000      308       863       3 1970-01-01 00:00:00.887736881
2001      269        47       4 1970-01-01 00:00:00.891448386
2002      198       100       1 1970-01-01 00:00:00.884207325
2003      297       307       4 1970-01-01 00:00:00.878771124
2004      305       189       5 1970-01-01 00:00:00.886323303
...       ...       ...     ...                           ...
2995      201       370       1 1970-01-01 00:00:00.884114506
2996       57       409       4 1970-01-01 00:00:00.883697655
2997       13       314       1 1970-01-01 00:00:00.884538485
2998      206       245       1 1970-01-01 00:00:00.888179772
2999      125       173       5 1970-01-01 00:00:00.879454100

                                            movie_names
2000  garden of finzi-contini, the (giardino dei fin...
2001                                     ed wood (1994)
2002                                       fargo (1996)
2003                       devil's advocate, the (1997)
2004                            grand day out, a (1992)
...                                                 ...
2995                                 mary reilly (1996)
2996                                        jack (1996)
2997        3 ninjas: high noon at mega mountain (1998)
2998                            devil's own, the (1997)
2999                         princess bride, the (1987)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
3000      128       143       5 1970-01-01 00:00:00.879967300
3001       92       763       3 1970-01-01 00:00:00.886443192
3002       65        56       3 1970-01-01 00:00:00.879217816
3003      236       506       5 1970-01-01 00:00:00.890118153
3004      262        77       2 1970-01-01 00:00:00.879794829
...       ...       ...     ...                           ...
3995      327       192       5 1970-01-01 00:00:00.887820828
3996      285       288       5 1970-01-01 00:00:00.890595584
3997      133       328       3 1970-01-01 00:00:00.890588577
3998       71       346       4 1970-01-01 00:00:00.885016248
3999      293      1132       3 1970-01-01 00:00:00.888905416

                       movie_names
3000    sound of music, the (1965)
3001          happy gilmore (1996)
3002           pulp fiction (1994)
3003  rebel without a cause (1955)
3004              firm, the (1993)
...                            ...
3995            raging bull (1980)
3996                 scream (1996)
3997      conspiracy theory (1997)
3998           jackie brown (1997)
3999      feeling minnesota (1996)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
4000       13       908       1 1970-01-01 00:00:00.886302385
4001        1        27       2 1970-01-01 00:00:00.876892946
4002      271       172       5 1970-01-01 00:00:00.885848616
4003      286       269       5 1970-01-01 00:00:00.879780839
4004       49       926       1 1970-01-01 00:00:00.888069117
...       ...       ...     ...                           ...
4995      334       293       3 1970-01-01 00:00:00.891544840
4996      294       483       4 1970-01-01 00:00:00.889854323
4997      297        86       5 1970-01-01 00:00:00.875238883
4998      293       647       5 1970-01-01 00:00:00.888905760
4999      294       876       3 1970-01-01 00:00:00.889241633

                          movie_names
4000                half baked (1998)
4001                  bad boys (1995)
4002  empire strikes back, the (1980)
4003           full monty, the (1997)
4004            down periscope (1996)
...                               ...
4995             donnie brasco (1997)
4996                casablanca (1942)
4997   remains of the day, the (1993)
4998                       ran (1985)
4999               money talks (1997)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
5000      286       142       4 1970-01-01 00:00:00.877534793
5001      308       569       3 1970-01-01 00:00:00.887740410
5002      222       164       4 1970-01-01 00:00:00.878181768
5003       49       721       2 1970-01-01 00:00:00.888068934
5004      303      1090       1 1970-01-01 00:00:00.879485686
...       ...       ...     ...                           ...
5995       59       871       2 1970-01-01 00:00:00.888203865
5996      227         9       3 1970-01-01 00:00:00.879035431
5997      169       603       5 1970-01-01 00:00:00.891359171
5998      293       553       3 1970-01-01 00:00:00.888907453
5999      201       190       4 1970-01-01 00:00:00.884111873

                          movie_names
5000  bedknobs and broomsticks (1971)
5001                      wolf (1994)
5002                abyss, the (1989)
5003                  mallrats (1995)
5004                    sliver (1993)
...                               ...
5995            vegas vacation (1997)
5996          dead man walking (1995)
5997               rear window (1954)
5998     walk in the clouds, a (1995)
5999                   henry v (1989)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
6000       58         8       4 1970-01-01 00:00:00.884304955
6001      303       840       2 1970-01-01 00:00:00.879543988
6002      328      1106       2 1970-01-01 00:00:00.893195825
6003       58       850       5 1970-01-01 00:00:00.884305150
6004      299       101       2 1970-01-01 00:00:00.889501721
...       ...       ...     ...                           ...
6995      189       815       3 1970-01-01 00:00:00.893264558
6996       60       485       4 1970-01-01 00:00:00.883327222
6997      293       257       2 1970-01-01 00:00:00.888904696
6998      306       100       4 1970-01-01 00:00:00.876504286
6999      308       319       4 1970-01-01 00:00:00.887736408

                          movie_names
6000                      babe (1995)
6001         last man standing (1996)
6002          newton boys, the (1998)
6003      perfect candidate, a (1996)
6004               heavy metal (1981)
...                               ...
6995              one fine day (1996)
6996              my fair lady (1964)
6997              men in black (1997)
6998                     fargo (1996)
6999  everyone says i love you (1996)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
7000      130        53       3 1970-01-01 00:00:00.876251972
7001      320       501       3 1970-01-01 00:00:00.884751462
7002      321      1194       5 1970-01-01 00:00:00.879438607
7003      155       319       3 1970-01-01 00:00:00.879370963
7004      338       310       3 1970-01-01 00:00:00.879437522
...       ...       ...     ...                           ...
7995       72       124       4 1970-01-01 00:00:00.880035636
7996      214       952       3 1970-01-01 00:00:00.891543176
7997      305        52       2 1970-01-01 00:00:00.886323506
7998      345       297       4 1970-01-01 00:00:00.884994156
7999      269       902       5 1970-01-01 00:00:00.891446132

                             movie_names
7000         natural born killers (1994)
7001                        dumbo (1941)
7002           once were warriors (1994)
7003     everyone says i love you (1996)
7004               rainmaker, the (1997)
...                                  ...
7995                    lone star (1996)
7996             blue in the face (1995)
7997  madness of king george, the (1994)
7998                  ulee's gold (1997)
7999            big lebowski, the (1998)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
8000      336       864       1 1970-01-01 00:00:00.877757837
8001      314       402       4 1970-01-01 00:00:00.877888758
8002       33       313       5 1970-01-01 00:00:00.891963290
8003      345      1017       2 1970-01-01 00:00:00.884991303
8004      346       392       3 1970-01-01 00:00:00.875266064
...       ...       ...     ...                           ...
8995      192       301       4 1970-01-01 00:00:00.881366490
8996      344       421       2 1970-01-01 00:00:00.884901561
8997      360       511       5 1970-01-01 00:00:00.880355994
8998      365       124       4 1970-01-01 00:00:00.891304039
8999       10       164       4 1970-01-01 00:00:00.877889333

                                        movie_names
8000                     my fellow americans (1996)
8001                                   ghost (1990)
8002                                 titanic (1997)
8003                            trees lounge (1996)
8004                 man without a face, the (1993)
...                                             ...
8995                                in & out (1997)
8996  william shakespeare's romeo and juliet (1996)
8997                      lawrence of arabia (1962)
8998                               lone star (1996)
8999                              abyss, the (1989)

[1000 rows x 5 columns]
      user id  movie id  rating                     timestamp  \
9000      234       847       4 1970-01-01 00:00:00.891227730
9001      271       582       3 1970-01-01 00:00:00.885849113
9002      109        96       5 1970-01-01 00:00:00.880572614
9003       76       150       5 1970-01-01 00:00:00.875028880
9004       59      1113       4 1970-01-01 00:00:00.888205855
...       ...       ...     ...                           ...
9995       74       150       3 1970-01-01 00:00:00.888333458
9996      178       195       4 1970-01-01 00:00:00.882826944
9997      321       527       3 1970-01-01 00:00:00.879439763
9998      337       742       5 1970-01-01 00:00:00.875184353
9999       90       190       5 1970-01-01 00:00:00.891383687

                                    movie_names
9000                 looking for richard (1996)
9001                          piano, the (1993)
9002          terminator 2: judgment day (1991)
9003                            swingers (1996)
9004  mrs. parker and the vicious circle (1994)
...                                         ...
9995                            swingers (1996)
9996                     terminator, the (1984)
9997                              gandhi (1982)
9998                              ransom (1996)
9999                             henry v (1989)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
10000       56       189       4 1970-01-01 00:00:00.892683248
10001      325       403       2 1970-01-01 00:00:00.891479102
10002      336       845       1 1970-01-01 00:00:00.877758035
10003       13       802       2 1970-01-01 00:00:00.882398254
10004       64       202       4 1970-01-01 00:00:00.889738993
...        ...       ...     ...                           ...
10995       16       479       5 1970-01-01 00:00:00.877720436
10996      378      1044       3 1970-01-01 00:00:00.880332643
10997       10       447       4 1970-01-01 00:00:00.877891747
10998        5       441       1 1970-01-01 00:00:00.875720830
10999      151       414       5 1970-01-01 00:00:00.879542474

                         movie_names
10000        grand day out, a (1992)
10001                  batman (1989)
10002      that thing you do! (1996)
10003             hard target (1993)
10004           groundhog day (1993)
...                              ...
10995                 vertigo (1958)
10996              paper, the (1994)
10997                  carrie (1976)
10998  amityville horror, the (1979)
10999        my favorite year (1982)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
11000      222       527       4 1970-01-01 00:00:00.878183110
11001       60        88       4 1970-01-01 00:00:00.883327684
11002       10       418       4 1970-01-01 00:00:00.877886783
11003      360       197       5 1970-01-01 00:00:00.880355888
11004      316       190       5 1970-01-01 00:00:00.880853774
...        ...       ...     ...                           ...
11995      314       763       5 1970-01-01 00:00:00.877886706
11996       56       195       5 1970-01-01 00:00:00.892676429
11997      177       336       2 1970-01-01 00:00:00.880130500
11998      311       183       5 1970-01-01 00:00:00.884365519
11999      267       479       4 1970-01-01 00:00:00.878971405

                       movie_names
11000                gandhi (1982)
11001  sleepless in seattle (1993)
11002            cinderella (1950)
11003         graduate, the (1967)
11004               henry v (1989)
...                            ...
11995         happy gilmore (1996)
11996       terminator, the (1984)
11997           playing god (1997)
11998                 alien (1979)
11999               vertigo (1958)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
12000      117       143       1 1970-01-01 00:00:00.881012472
12001       46       181       4 1970-01-01 00:00:00.883616254
12002       43       705       4 1970-01-01 00:00:00.883954970
12003       64       367       4 1970-01-01 00:00:00.889739678
12004      399      1314       3 1970-01-01 00:00:00.882349198
...        ...       ...     ...                           ...
12995      314       122       1 1970-01-01 00:00:00.877887065
12996        7       514       2 1970-01-01 00:00:00.891351121
12997        6       486       4 1970-01-01 00:00:00.883601427
12998       56       201       4 1970-01-01 00:00:00.892910604
12999      239       701       5 1970-01-01 00:00:00.889179544

                                             movie_names
12000                         sound of music, the (1965)
12001                          return of the jedi (1983)
12002                         singin' in the rain (1952)
12003                                    clueless (1995)
12004                          surviving the game (1994)
...                                                  ...
12995                              cable guy, the (1996)
12996                                  annie hall (1977)
12997                                     sabrina (1954)
12998                                evil dead ii (1987)
12999  wonderful, horrible life of leni riefenstahl, ...

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
13000       58       546       2 1970-01-01 00:00:00.892242190
13001      139       246       4 1970-01-01 00:00:00.879538218
13002      342       483       4 1970-01-01 00:00:00.875319745
13003        7       404       5 1970-01-01 00:00:00.891352947
13004      313        69       5 1970-01-01 00:00:00.891016193
...        ...       ...     ...                           ...
13995      271       528       3 1970-01-01 00:00:00.885848448
13996       64       633       5 1970-01-01 00:00:00.889739243
13997       97       430       5 1970-01-01 00:00:00.884238693
13998      160       447       4 1970-01-01 00:00:00.876859413
13999      297       748       2 1970-01-01 00:00:00.874954060

                      movie_names
13000         broken arrow (1996)
13001          chasing amy (1997)
13002           casablanca (1942)
13003            pinocchio (1940)
13004         forrest gump (1994)
...                           ...
13995  killing fields, the (1984)
13996   christmas carol, a (1938)
13997            duck soup (1933)
13998               carrie (1976)
13999           saint, the (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
14000      314      1057       2 1970-01-01 00:00:00.877887035
14001      254       448       3 1970-01-01 00:00:00.886473775
14002      387        81       3 1970-01-01 00:00:00.886483906
14003      125       174       5 1970-01-01 00:00:00.879454309
14004      406       488       4 1970-01-01 00:00:00.879445642
...        ...       ...     ...                           ...
14995      145       470       5 1970-01-01 00:00:00.875272299
14996      115       969       1 1970-01-01 00:00:00.881172183
14997      214       461       4 1970-01-01 00:00:00.892668249
14998      184       584       3 1970-01-01 00:00:00.889909889
14999      312       588       5 1970-01-01 00:00:00.891699490

                                       movie_names
14000                       pallbearer, the (1996)
14001                             omen, the (1976)
14002                  hudsucker proxy, the (1994)
14003               raiders of the lost ark (1981)
14004                          sunset blvd. (1950)
...                                            ...
14995                             tombstone (1993)
14996  winnie the pooh and the blustery day (1968)
14997                                 smoke (1995)
14998                    secret garden, the (1993)
14999                  beauty and the beast (1991)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
15000      393       568       4 1970-01-01 00:00:00.889554563
15001      328       211       4 1970-01-01 00:00:00.885046276
15002      382       508       3 1970-01-01 00:00:00.875946029
15003      223       111       4 1970-01-01 00:00:00.891549792
15004      343       164       3 1970-01-01 00:00:00.876404757
...        ...       ...     ...                           ...
15995      234        15       3 1970-01-01 00:00:00.892079538
15996      346       785       3 1970-01-01 00:00:00.875263077
15997      320       129       4 1970-01-01 00:00:00.884748661
15998      123       704       3 1970-01-01 00:00:00.879873120

       user id  movie id  rating                     timestamp  \
30000      338       514       5 1970-01-01 00:00:00.879438114
30001      389       393       2 1970-01-01 00:00:00.880088717
30002      554        28       4 1970-01-01 00:00:00.876232758
30003      409      1537       4 1970-01-01 00:00:00.881106605
30004      144       117       4 1970-01-01 00:00:00.888103969
...        ...       ...     ...                           ...
30995      295       137       4 1970-01-01 00:00:00.879517271
30996      382       177       4 1970-01-01 00:00:00.875947005
30997        6       203       3 1970-01-01 00:00:00.883602864
30998      184       529       4 1970-01-01 00:00:00.889909445
30999      308       517       4 1970-01-01 00:00:00.887737483

                                       movie_names
30000                            annie hall (1977)
30001                        mrs. doubtfire (1993)
30002                             apollo 13 (1995)
30003                                  cosi (1996)
30004                             rock, the (1996)
...                                            ...
30995                             big night (1996)
30996       good, the bad and the ugly, the (1966)
30997                            unforgiven (1992)
30998  my life as a dog (mitt liv som hund) (1985)
30999                             manhattan (1979)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
31000      484        69       5 1970-01-01 00:00:00.891194743
31001      387       663       4 1970-01-01 00:00:00.886482883
31002        7       665       4 1970-01-01 00:00:00.891354471
31003      532       241       5 1970-01-01 00:00:00.892859148
31004      407       403       4 1970-01-01 00:00:00.875045658
...        ...       ...     ...                           ...
31995      211       491       3 1970-01-01 00:00:00.879459876
31996      251       742       5 1970-01-01 00:00:00.886272486
31997      524       707       4 1970-01-01 00:00:00.884634995
31998      379       174       5 1970-01-01 00:00:00.880525368
31999      222       569       2 1970-01-01 00:00:00.878184866

                                movie_names
31000                   forrest gump (1994)
31001                    being there (1979)
31002                        alien 3 (1992)
31003      last of the mohicans, the (1992)
31004                         batman (1989)
...                                     ...
31995  adventures of robin hood, the (1938)
31996                         ransom (1996)
31997                enchanted april (1991)
31998        raiders of the lost ark (1981)
31999                           wolf (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
32000      486      1017       3 1970-01-01 00:00:00.879874970
32001      201       521       2 1970-01-01 00:00:00.884111637
32002      545        54       4 1970-01-01 00:00:00.884134519
32003       84       117       4 1970-01-01 00:00:00.883450553
32004      151       609       4 1970-01-01 00:00:00.879525075
...        ...       ...     ...                           ...
32995       69       307       2 1970-01-01 00:00:00.882027204
32996      393       797       3 1970-01-01 00:00:00.889731138
32997      270       860       5 1970-01-01 00:00:00.876956464
32998      553       307       4 1970-01-01 00:00:00.879948235
32999      458       193       4 1970-01-01 00:00:00.886396460

                        movie_names
32000           trees lounge (1996)
32001       deer hunter, the (1978)
32002               outbreak (1995)
32003              rock, the (1996)
32004    father of the bride (1950)
...                             ...
32995  devil's advocate, the (1997)
32996                timecop (1994)
32997         believers, the (1987)
32998  devil's advocate, the (1997)
32999       right stuff, the (1983)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
33000       54       546       3 1970-01-01 00:00:00.880937583
33001      425       831       3 1970-01-01 00:00:00.878739095
33002      487      1244       2 1970-01-01 00:00:00.883444859
33003      516       310       4 1970-01-01 00:00:00.891290565
33004      257       582       5 1970-01-01 00:00:00.879547608
...        ...       ...     ...                           ...
33995      548       222       5 1970-01-01 00:00:00.891044596
33996      552       760       3 1970-01-01 00:00:00.879222306
33997      447      1028       3 1970-01-01 00:00:00.878855139
33998      190       273       4 1970-01-01 00:00:00.891033676
33999      279        12       2 1970-01-01 00:00:00.875306515

                           movie_names
33000              broken arrow (1996)
33001          escape from l.a. (1996)
33002                     metro (1997)
33003            rainmaker, the (1997)
33004                piano, the (1993)
...                                ...
33995  star trek: first contact (1996)
33996                 screamers (1995)
33997          grumpier old men (1995)
33998                      heat (1995)
33999       usual suspects, the (1995)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
34000       83      1016       4 1970-01-01 00:00:00.883868345
34001       49       419       4 1970-01-01 00:00:00.888067691
34002      392       491       5 1970-01-01 00:00:00.891039049
34003      239       504       4 1970-01-01 00:00:00.889179544
34004      417        50       3 1970-01-01 00:00:00.879646123
...        ...       ...     ...                           ...
34995      532       266       4 1970-01-01 00:00:00.875441640
34996      393       578       4 1970-01-01 00:00:00.889728413
34997      521       250       3 1970-01-01 00:00:00.884476020
34998      346       549       4 1970-01-01 00:00:00.874950966
34999       11       719       3 1970-01-01 00:00:00.891905279

                                movie_names
34000                        con air (1997)
34001                   mary poppins (1964)
34002  adventures of robin hood, the (1938)
34003               bonnie and clyde (1967)
34004                      star wars (1977)
...                                     ...
34995             kull the conqueror (1997)
34996                 demolition man (1993)
34997             fifth element, the (1997)
34998                        rob roy (1995)
34999                 canadian bacon (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
35000      421       185       4 1970-01-01 00:00:00.892241422
35001      586      1407       3 1970-01-01 00:00:00.884063080
35002      537       201       3 1970-01-01 00:00:00.886031831
35003      562       720       4 1970-01-01 00:00:00.879196483
35004      394         1       4 1970-01-01 00:00:00.880886855
...        ...       ...     ...                           ...
35995      489       266       5 1970-01-01 00:00:00.891446232
35996      500       988       3 1970-01-01 00:00:00.883864840
35997      471       501       3 1970-01-01 00:00:00.889828027
35998      279      1215       2 1970-01-01 00:00:00.884556545
35999      279      1025       2 1970-01-01 00:00:00.880825843

                                movie_names
35000                         psycho (1960)
35001                specialist, the (1994)
35002                   evil dead ii (1987)
35003                   first knight (1995)
35004                      toy story (1995)
...                                     ...
35995             kull the conqueror (1997)
35996  beautician and the beast, the (1997)
35997                          dumbo (1941)
35998                      barb wire (1996)
35999                fire down below (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
36000      425       305       3 1970-01-01 00:00:00.890346411
36001      606       124       3 1970-01-01 00:00:00.878143246
36002      224      1152       3 1970-01-01 00:00:00.888104313
36003      457       372       4 1970-01-01 00:00:00.882548382
36004      558       847       4 1970-01-01 00:00:00.879436396
...        ...       ...     ...                           ...
36995      332       895       5 1970-01-01 00:00:00.887916385
36996      525       255       1 1970-01-01 00:00:00.881086078
36997      399       156       3 1970-01-01 00:00:00.882342537
36998      532       865       2 1970-01-01 00:00:00.888630531
36999      534       471       5 1970-01-01 00:00:00.877807935

                           movie_names
36000            ice storm, the (1997)
36001                 lone star (1996)
36002           in love and war (1996)
36003                   jeffrey (1995)
36004       looking for richard (1996)
...                                ...
36995                  scream 2 (1997)
36996  my best friend's wedding (1997)
36997            reservoir dogs (1992)
36998            ice storm, the (1997)
36999        courage under fire (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
37000      561        13       3 1970-01-01 00:00:00.885810060
37001        6       427       4 1970-01-01 00:00:00.883600707
37002      441       405       3 1970-01-01 00:00:00.891035507
37003      561       436       4 1970-01-01 00:00:00.885807843
37004      447       176       4 1970-01-01 00:00:00.878856148
...        ...       ...     ...                           ...
37995      452       174       4 1970-01-01 00:00:00.875263413
37996      538       568       3 1970-01-01 00:00:00.877107491
37997      439       273       2 1970-01-01 00:00:00.882892675
37998      417       709       3 1970-01-01 00:00:00.879647355
37999      489       680       5 1970-01-01 00:00:00.891445439

                                  movie_names
37000                 mighty aphrodite (1995)
37001            to kill a mockingbird (1962)
37002              mission: impossible (1996)
37003  american werewolf in london, an (1981)
37004                           aliens (1986)
...                                       ...
37995          raiders of the lost ark (1981)
37996                            speed (1994)
37997                             heat (1995)
37998                strictly ballroom (1992)
37999               kull the conqueror (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
38000      510      1025       3 1970-01-01 00:00:00.887667780
38001       10       513       4 1970-01-01 00:00:00.877886598
38002      303       379       4 1970-01-01 00:00:00.879485546
38003      173       937       4 1970-01-01 00:00:00.877557077
38004      325       628       3 1970-01-01 00:00:00.891478772
...        ...       ...     ...                           ...
38995      618       378       4 1970-01-01 00:00:00.891309514
38996      174        69       5 1970-01-01 00:00:00.886514201
38997      341       682       3 1970-01-01 00:00:00.890757961
38998      373       417       3 1970-01-01 00:00:00.877099092
38999      654         4       4 1970-01-01 00:00:00.887864830

                                             movie_names
38000                             fire down below (1997)
38001                              third man, the (1949)
38002  tales from the crypt presents: demon knight (1...
38003                           thousand acres, a (1997)
38004                                    sleepers (1996)
...                                                  ...
38995                      miracle on 34th street (1994)
38996                                forrest gump (1994)
38997             i know what you did last summer (1997)
38998                            parent trap, the (1961)
38999                                  get shorty (1995)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
39000       52       527       5 1970-01-01 00:00:00.882922927
39001      595      1009       4 1970-01-01 00:00:00.886921584
39002       76      1155       2 1970-01-01 00:00:00.882607017
39003      414       301       3 1970-01-01 00:00:00.884999128
39004      500       639       4 1970-01-01 00:00:00.883875195
...        ...       ...     ...                           ...
39995      549       678       3 1970-01-01 00:00:00.881671982
39996      316       482       3 1970-01-01 00:00:00.880854337
39997      339        64       5 1970-01-01 00:00:00.891033629
39998      380       100       4 1970-01-01 00:00:00.885478193
39999      272       175       5 1970-01-01 00:00:00.879455043

                                             movie_names
39000                                      gandhi (1982)
39001                             stealing beauty (1996)
39002  rendezvous in paris (rendez-vous de paris, les...
39003                                    in & out (1997)
39004           tin drum, the (blechtrommel, die) (1979)
...                                                  ...
39995                                     volcano (1997)
39996                            some like it hot (1959)
39997                   shawshank redemption, the (1994)
39998                                       fargo (1996)
39999                                      brazil (1985)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
40000      435         9       4 1970-01-01 00:00:00.884131055
40001      553       174       4 1970-01-01 00:00:00.879949073
40002      377       682       3 1970-01-01 00:00:00.891296448
40003        7       503       4 1970-01-01 00:00:00.891353950
40004      535       727       4 1970-01-01 00:00:00.879618502
...        ...       ...     ...                           ...
40995      353       905       4 1970-01-01 00:00:00.891402674
40996      655       685       2 1970-01-01 00:00:00.887426666
40997      665       762       4 1970-01-01 00:00:00.884290480
40998      506       261       3 1970-01-01 00:00:00.885135514
40999      665       287       4 1970-01-01 00:00:00.884290575

                                  movie_names
40000                 dead man walking (1995)
40001          raiders of the lost ark (1981)
40002  i know what you did last summer (1997)
40003                   candidate, the (1972)
40004                 immortal beloved (1994)
...                                       ...
40995               great expectations (1998)
40996               executive decision (1996)
40997                  beautiful girls (1996)
40998                          air bud (1997)
40999                    marvin's room (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
41000      311       660       4 1970-01-01 00:00:00.884365252
41001      387       206       4 1970-01-01 00:00:00.886483429
41002       49       324       4 1970-01-01 00:00:00.888065702
41003      554       692       4 1970-01-01 00:00:00.876549579
41004      334       865       2 1970-01-01 00:00:00.891549631
...        ...       ...     ...                           ...
41995      660       797       2 1970-01-01 00:00:00.891201753
41996      642       826       5 1970-01-01 00:00:00.888963032
41997      437       955       4 1970-01-01 00:00:00.881002404
41998      436       313       5 1970-01-01 00:00:00.887768521
41999      504       310       4 1970-01-01 00:00:00.887831273

                          movie_names
41000     fried green tomatoes (1991)
41001                    akira (1988)
41002             lost highway (1997)
41003  american president, the (1995)
41004           ice storm, the (1997)
...                               ...
41995                  timecop (1994)
41996             phantom, the (1996)
41997           before sunrise (1995)
41998                  titanic (1997)
41999           rainmaker, the (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
42000      537       265       3 1970-01-01 00:00:00.886031473
42001      650       485       3 1970-01-01 00:00:00.891385422
42002      153       325       2 1970-01-01 00:00:00.881370935
42003      474      1113       3 1970-01-01 00:00:00.887926059
42004      194       521       4 1970-01-01 00:00:00.879524504
...        ...       ...     ...                           ...
42995      445       333       2 1970-01-01 00:00:00.890987410
42996      650       637       3 1970-01-01 00:00:00.891387353
42997       42       462       2 1970-01-01 00:00:00.881108093
42998      641       124       4 1970-01-01 00:00:00.879370299
42999      674       405       4 1970-01-01 00:00:00.887762861

                                             movie_names
42000                   hunt for red october, the (1990)
42001                                my fair lady (1964)
42002                                       crash (1996)
42003          mrs. parker and the vicious circle (1994)
42004                            deer hunter, the (1978)
...                                                  ...
42995                                   game, the (1997)
42996                                howling, the (1981)
42997  like water for chocolate (como agua para choco...
42998                                   lone star (1996)
42999                         mission: impossible (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
43000      618       318       5 1970-01-01 00:00:00.891307825
43001      655       134       4 1970-01-01 00:00:00.887431976
43002      533       211       4 1970-01-01 00:00:00.879191972
43003      200       924       5 1970-01-01 00:00:00.876042368
43004      174       623       3 1970-01-01 00:00:00.886515532
...        ...       ...     ...                           ...
43995      624       342       3 1970-01-01 00:00:00.891961267
43996      236       328       5 1970-01-01 00:00:00.890117711
43997      670       651       4 1970-01-01 00:00:00.877975070
43998      701       285       5 1970-01-01 00:00:00.891447139
43999      223      1051       3 1970-01-01 00:00:00.891549945

                               movie_names
43000              schindler's list (1993)
43001                  citizen kane (1941)
43002                       m*a*s*h (1970)
43003                  white squall (1996)
43004        angels in the outfield (1994)
...                                    ...
43995  man who knew too little, the (1997)
43996             conspiracy theory (1997)
43997                         glory (1989)
43998                secrets & lies (1996)
43999                associate, the (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
44000      429       418       3 1970-01-01 00:00:00.882386096
44001      624       333       4 1970-01-01 00:00:00.879791884
44002      299       502       4 1970-01-01 00:00:00.878192756
44003      257       286       5 1970-01-01 00:00:00.879029516
44004      299       402       3 1970-01-01 00:00:00.889502865
...        ...       ...     ...                           ...
44995      504       631       4 1970-01-01 00:00:00.887837701
44996      436      1048       2 1970-01-01 00:00:00.887770379
44997      450       393       4 1970-01-01 00:00:00.882812349
44998      381       132       5 1970-01-01 00:00:00.892696426
44999      380       570       3 1970-01-01 00:00:00.885479706

                       movie_names
44000            cinderella (1950)
44001             game, the (1997)
44002               bananas (1971)
44003  english patient, the (1996)
44004                 ghost (1990)
...                            ...
44995      crying game, the (1992)
44996         she's the one (1996)
44997        mrs. doubtfire (1993)
44998     wizard of oz, the (1939)
44999            wyatt earp (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \

       user id  movie id  rating                     timestamp  \
60000      799       499       4 1970-01-01 00:00:00.879253969
60001      211       596       3 1970-01-01 00:00:00.879460294
60002      741       288       4 1970-01-01 00:00:00.891018070
60003      857       898       5 1970-01-01 00:00:00.883432141
60004      774       234       2 1970-01-01 00:00:00.888557683
...        ...       ...     ...                           ...
60995      784       321       3 1970-01-01 00:00:00.891387249
60996      592       655       5 1970-01-01 00:00:00.882955543
60997      578       272       2 1970-01-01 00:00:00.888957735
60998      456       125       4 1970-01-01 00:00:00.881372015
60999      561       116       4 1970-01-01 00:00:00.885809146

                               movie_names
60000         cat on a hot tin roof (1958)
60001  hunchback of notre dame, the (1996)
60002                        scream (1996)
60003                  postman, the (1997)
60004                          jaws (1975)
...                                    ...
60995                        mother (1996)
60996                   stand by me (1986)
60997             good will hunting (1997)
60998                    phenomenon (1996)
60999             cold comfort farm (1995)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
61000       14       523       4 1970-01-01 00:00:00.879119497
61001      757       173       4 1970-01-01 00:00:00.888445604
61002      851       153       3 1970-01-01 00:00:00.875806683
61003      804        56       3 1970-01-01 00:00:00.879441371
61004      864        11       5 1970-01-01 00:00:00.888887502
...        ...       ...     ...                           ...
61995      250       234       3 1970-01-01 00:00:00.878091736
61996      881       601       5 1970-01-01 00:00:00.876539186
61997      655       786       2 1970-01-01 00:00:00.887472965
61998      727       928       3 1970-01-01 00:00:00.883709802
61999      707       135       2 1970-01-01 00:00:00.886286032

                          movie_names
61000           cool hand luke (1967)
61001      princess bride, the (1987)
61002     fish called wanda, a (1988)
61003             pulp fiction (1994)
61004            seven (se7en) (1995)
...                               ...
61995                     jaws (1975)
61996  for whom the bell tolls (1943)
61997        perez family, the (1995)
61998               craft, the (1996)
61999    2001: a space odyssey (1968)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
62000      872       106       3 1970-01-01 00:00:00.888479624
62001      682       217       4 1970-01-01 00:00:00.888523581
62002      327       184       3 1970-01-01 00:00:00.887820341
62003      827       272       4 1970-01-01 00:00:00.884213984
62004       95      1116       4 1970-01-01 00:00:00.888956137
...        ...       ...     ...                           ...
62995      560       268       4 1970-01-01 00:00:00.879975173
62996      782      1283       2 1970-01-01 00:00:00.891499469
62997      650       568       3 1970-01-01 00:00:00.891381709
62998      868       452       2 1970-01-01 00:00:00.877111394
62999      382       334       5 1970-01-01 00:00:00.876802971

                        movie_names
62000             diabolique (1996)
62001  bram stoker's dracula (1992)
62002       army of darkness (1993)
62003      good will hunting (1997)
62004     mark of zorro, the (1940)
...                             ...
62995            chasing amy (1997)
62996             out to sea (1997)
62997                  speed (1994)
62998                 jaws 2 (1978)
62999                 u turn (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
63000      883        53       5 1970-01-01 00:00:00.891696999
63001      449        60       5 1970-01-01 00:00:00.880410652
63002      712       755       4 1970-01-01 00:00:00.874957113
63003      842       268       5 1970-01-01 00:00:00.891218059
63004      835       215       4 1970-01-01 00:00:00.891033199
...        ...       ...     ...                           ...
63995      864       349       4 1970-01-01 00:00:00.887686388
63996      794         1       4 1970-01-01 00:00:00.891035864
63997      468       153       5 1970-01-01 00:00:00.875287720
63998      840       513       5 1970-01-01 00:00:00.891204295
63999      551       570       4 1970-01-01 00:00:00.892785264

                       movie_names
63000  natural born killers (1994)
63001    three colors: blue (1993)
63002               jumanji (1995)
63003           chasing amy (1997)
63004       field of dreams (1989)
...                            ...
63995             hard rain (1998)
63996             toy story (1995)
63997  fish called wanda, a (1988)
63998        third man, the (1949)
63999            wyatt earp (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
64000      715        79       5 1970-01-01 00:00:00.875964579
64001      896       684       4 1970-01-01 00:00:00.887158959
64002      881       282       4 1970-01-01 00:00:00.876536773
64003      506       186       4 1970-01-01 00:00:00.874875062
64004      535       223       5 1970-01-01 00:00:00.879618207
...        ...       ...     ...                           ...
64995      429       972       4 1970-01-01 00:00:00.882387757
64996      101       225       3 1970-01-01 00:00:00.877136814
64997       38       288       5 1970-01-01 00:00:00.892428188
64998      871       947       2 1970-01-01 00:00:00.888193177
64999      144        12       4 1970-01-01 00:00:00.888105419

                                 movie_names
64000                   fugitive, the (1993)
64001             in the line of fire (1993)
64002                 time to kill, a (1996)
64003             blues brothers, the (1980)
64004                     sling blade (1996)
...                                      ...
64995                    passion fish (1992)
64996                  101 dalmatians (1996)
64997                          scream (1996)
64998  big blue, the (grand bleu, le) (1988)
64999             usual suspects, the (1995)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
65000      546       898       4 1970-01-01 00:00:00.885141260
65001      705       148       5 1970-01-01 00:00:00.883427134
65002      222       541       2 1970-01-01 00:00:00.878184973
65003      705        29       5 1970-01-01 00:00:00.883428237
65004      445       460       2 1970-01-01 00:00:00.891200624
...        ...       ...     ...                           ...
65995      445      1051       1 1970-01-01 00:00:00.891200390
65996      650       185       3 1970-01-01 00:00:00.891369836
65997      805        55       5 1970-01-01 00:00:00.881694693
65998      886       129       5 1970-01-01 00:00:00.876033015
65999      823        95       4 1970-01-01 00:00:00.878439257

                              movie_names
65000                 postman, the (1997)
65001  ghost and the darkness, the (1996)
65002                mortal kombat (1995)
65003               batman forever (1995)
65004          crossing guard, the (1995)
...                                   ...
65995               associate, the (1996)
65996                       psycho (1960)
65997            professional, the (1994)
65998                        bound (1996)
65999                      aladdin (1992)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
66000      788       409       3 1970-01-01 00:00:00.880871057
66001      747        56       5 1970-01-01 00:00:00.888639526
66002      109        25       4 1970-01-01 00:00:00.880571741
66003      846       135       4 1970-01-01 00:00:00.883947694
66004      807       451       5 1970-01-01 00:00:00.892530112
...        ...       ...     ...                           ...
66995      454       480       4 1970-01-01 00:00:00.881959652
66996      551       451       1 1970-01-01 00:00:00.892784976
66997      608      1221       2 1970-01-01 00:00:00.880406800
66998      940       568       3 1970-01-01 00:00:00.885921870
66999      592       482       4 1970-01-01 00:00:00.882955582

                           movie_names
66000                      jack (1996)
66001              pulp fiction (1994)
66002             birdcage, the (1996)
66003     2001: a space odyssey (1968)
66004                    grease (1978)
...                                ...
66995        north by northwest (1959)
66996                    grease (1978)
66997  when a man loves a woman (1994)
66998                     speed (1994)
66999          some like it hot (1959)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
67000      897        56       2 1970-01-01 00:00:00.879991037
67001      831        31       4 1970-01-01 00:00:00.891354612
67002      222       770       3 1970-01-01 00:00:00.878181592
67003      624       122       3 1970-01-01 00:00:00.879793436
67004      870        68       3 1970-01-01 00:00:00.879714087
...        ...       ...     ...                           ...
67995      319       358       3 1970-01-01 00:00:00.889816233
67996      645       319       3 1970-01-01 00:00:00.892051708
67997      915      1038       2 1970-01-01 00:00:00.891030070
67998      940       289       3 1970-01-01 00:00:00.884801144
67999      541       946       5 1970-01-01 00:00:00.883874749

                           movie_names
67000              pulp fiction (1994)
67001              crimson tide (1995)
67002     devil in a blue dress (1995)
67003            cable guy, the (1996)
67004                 crow, the (1994)
...                                ...
67995                     spawn (1997)
67996  everyone says i love you (1996)
67997                switchback (1997)
67998                     evita (1996)
67999    fox and the hound, the (1981)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
68000      508       710       4 1970-01-01 00:00:00.883777071
68001      840       272       4 1970-01-01 00:00:00.891202756
68002      760       928       1 1970-01-01 00:00:00.875666242
68003      782      1666       2 1970-01-01 00:00:00.891500194
68004      815       665       2 1970-01-01 00:00:00.878698525
...        ...       ...     ...                           ...
68995      902       134       3 1970-01-01 00:00:00.879465523
68996      865        24       4 1970-01-01 00:00:00.880143612
68997      640      1067       4 1970-01-01 00:00:00.876068799
68998      654      1283       1 1970-01-01 00:00:00.887863779
68999      940       172       4 1970-01-01 00:00:00.885921451

                           movie_names
68000        better off dead... (1985)
68001         good will hunting (1997)
68002                craft, the (1996)
68003                      ripe (1996)
68004                   alien 3 (1992)
...                                ...
68995              citizen kane (1941)
68996       rumble in the bronx (1995)
68997             bottle rocket (1996)
68998                out to sea (1997)
68999  empire strikes back, the (1980)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
69000      918       289       2 1970-01-01 00:00:00.891988559
69001      653       719       3 1970-01-01 00:00:00.880153841
69002      561      1039       3 1970-01-01 00:00:00.885807612
69003      835       612       4 1970-01-01 00:00:00.891033927
69004      916       655       3 1970-01-01 00:00:00.880844350
...        ...       ...     ...                           ...
69995       91      1192       4 1970-01-01 00:00:00.891439243
69996      788       174       2 1970-01-01 00:00:00.880868316
69997       62       134       4 1970-01-01 00:00:00.879373768
69998      699       762       3 1970-01-01 00:00:00.878882455
69999      561       379       2 1970-01-01 00:00:00.885810428

                                             movie_names
69000                                       evita (1996)
69001                              canadian bacon (1994)
69002                                      hamlet (1996)
69003                                lost horizon (1937)
69004                                 stand by me (1986)
...                                                  ...
69995                    boys of st. vincent, the (1993)
69996                     raiders of the lost ark (1981)
69997                                citizen kane (1941)
69998                             beautiful girls (1996)
69999  tales from the crypt presents: demon knight (1...

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
70000      338       517       5 1970-01-01 00:00:00.879438505
70001      290       234       3 1970-01-01 00:00:00.880474451
70002      458       762       3 1970-01-01 00:00:00.886395065
70003      524       582       3 1970-01-01 00:00:00.884635326
70004      530       176       3 1970-01-01 00:00:00.886202320
...        ...       ...     ...                           ...
70995      882       597       4 1970-01-01 00:00:00.879863106
70996      897        82       5 1970-01-01 00:00:00.879990361
70997      886       549       3 1970-01-01 00:00:00.876032929
70998      796       286       2 1970-01-01 00:00:00.892610876
70999      226       370       3 1970-01-01 00:00:00.883890235

                       movie_names
70000             manhattan (1979)
70001                  jaws (1975)
70002       beautiful girls (1996)
70003            piano, the (1993)
70004                aliens (1986)
...                            ...
70995                eraser (1996)
70996         jurassic park (1993)
70997               rob roy (1995)
70998  english patient, the (1996)
70999           mary reilly (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
71000      848       638       5 1970-01-01 00:00:00.887038073
71001      661       318       5 1970-01-01 00:00:00.876013935
71002      816       313       5 1970-01-01 00:00:00.891710780
71003      894       515       4 1970-01-01 00:00:00.879896654
71004      503       489       4 1970-01-01 00:00:00.880383625
...        ...       ...     ...                           ...
71995      901        56       1 1970-01-01 00:00:00.877130999
71996      709       234       5 1970-01-01 00:00:00.879847945
71997      262       727       3 1970-01-01 00:00:00.879792897
71998      677       508       5 1970-01-01 00:00:00.889399171
71999      746       403       4 1970-01-01 00:00:00.885075337

                                             movie_names
71000  return of martin guerre, the (retour de martin...
71001                            schindler's list (1993)
71002                                     titanic (1997)
71003                                   boot, das (1981)
71004                                   notorious (1946)
...                                                  ...
71995                                pulp fiction (1994)
71996                                        jaws (1975)
71997                            immortal beloved (1994)
71998                 people vs. larry flynt, the (1996)
71999                                      batman (1989)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
72000      543        62       3 1970-01-01 00:00:00.875663687
72001      575       176       4 1970-01-01 00:00:00.878148087
72002      694       470       4 1970-01-01 00:00:00.875727144
72003      288        98       5 1970-01-01 00:00:00.886373474
72004      554       328       4 1970-01-01 00:00:00.878801354
...        ...       ...     ...                           ...
72995       94       238       5 1970-01-01 00:00:00.891721168
72996      682       941       4 1970-01-01 00:00:00.888518035
72997      677       151       4 1970-01-01 00:00:00.889399431
72998      588       239       5 1970-01-01 00:00:00.890025704
72999      249       195       4 1970-01-01 00:00:00.879572911

                                        movie_names
72000                               stargate (1994)
72001                                 aliens (1986)
72002                              tombstone (1993)
72003              silence of the lambs, the (1991)
72004                      conspiracy theory (1997)
...                                             ...
72995                        raising arizona (1987)
72996                            with honors (1994)
72997  willy wonka and the chocolate factory (1971)
72998                               sneakers (1992)
72999                        terminator, the (1984)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
73000      716       174       5 1970-01-01 00:00:00.879795025
73001      889       178       5 1970-01-01 00:00:00.880178078
73002      894        45       4 1970-01-01 00:00:00.882404250
73003      538       172       4 1970-01-01 00:00:00.877107765
73004      845       346       3 1970-01-01 00:00:00.885409493
...        ...       ...     ...                           ...
73995      334       187       4 1970-01-01 00:00:00.891547107
73996      843       185       3 1970-01-01 00:00:00.879443341
73997      870       186       4 1970-01-01 00:00:00.875680186
73998      567       178       4 1970-01-01 00:00:00.882425820
73999       41       194       3 1970-01-01 00:00:00.890687242

                           movie_names
73000   raiders of the lost ark (1981)
73001              12 angry men (1957)
73002       eat drink man woman (1994)
73003  empire strikes back, the (1980)
73004              jackie brown (1997)
...                                ...
73995   godfather: part ii, the (1974)
73996                    psycho (1960)
73997       blues brothers, the (1980)
73998              12 angry men (1957)
73999                sting, the (1973)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
74000      666         7       4 1970-01-01 00:00:00.880313329
74001      231       866       3 1970-01-01 00:00:00.879965961
74002      643       197       4 1970-01-01 00:00:00.891446983
74003      586       288       4 1970-01-01 00:00:00.884057861
74004      862       462       4 1970-01-01 00:00:00.879304624
...        ...       ...     ...                           ...
74995      796      1522       3 1970-01-01 00:00:00.893194740
74996      443       269       3 1970-01-01 00:00:00.883504564
74997      705        69       3 1970-01-01 00:00:00.883518834
74998      549         1       5 1970-01-01 00:00:00.881672182
74999      561       153       3 1970-01-01 00:00:00.885808844

                                             movie_names
74000                              twelve monkeys (1995)
74001                                     michael (1996)
74002                               graduate, the (1967)
74003                                      scream (1996)
74004  like water for chocolate (como agua para choco...
...                                                  ...
74995                               trial by jury (1994)
74996                             full monty, the (1997)
74997                                forrest gump (1994)
74998                                   toy story (1995)
74999                        fish called wanda, a (1988)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
75000      498       317       3 1970-01-01 00:00:00.881957625
75001      840       492       5 1970-01-01 00:00:00.891204215
75002      406       282       3 1970-01-01 00:00:00.879539987
75003      221       847       4 1970-01-01 00:00:00.875244051
75004      757        98       4 1970-01-01 00:00:00.888445767

       user id  movie id  rating                     timestamp  \
91000      887       378       5 1970-01-01 00:00:00.881381207
91001       46       262       5 1970-01-01 00:00:00.883614766
91002      842       340       5 1970-01-01 00:00:00.891218192
91003      918       168       3 1970-01-01 00:00:00.891986999
91004      880       234       5 1970-01-01 00:00:00.880241327
...        ...       ...     ...                           ...
91995      773       174       3 1970-01-01 00:00:00.888539962
91996      889       509       2 1970-01-01 00:00:00.880180650
91997      874       127       5 1970-01-01 00:00:00.888633310
91998      699       202       3 1970-01-01 00:00:00.878883112
91999      429      1112       3 1970-01-01 00:00:00.882386785

                                  movie_names
91000           miracle on 34th street (1994)
91001            in the company of men (1997)
91002                    boogie nights (1997)
91003  monty python and the holy grail (1974)
91004                             jaws (1975)
...                                       ...
91995          raiders of the lost ark (1981)
91996                     my left foot (1989)
91997                   godfather, the (1972)
91998                    groundhog day (1993)
91999                             cobb (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
92000      660        87       2 1970-01-01 00:00:00.891199133
92001      867       300       2 1970-01-01 00:00:00.880077751
92002      877        14       5 1970-01-01 00:00:00.882677048
92003      933       435       4 1970-01-01 00:00:00.874854251
92004      497      1615       3 1970-01-01 00:00:00.879310650
...        ...       ...     ...                           ...
92995      925       559       3 1970-01-01 00:00:00.884717963
92996      844       471       3 1970-01-01 00:00:00.877381736
92997      472        50       5 1970-01-01 00:00:00.875978010
92998      939       424       3 1970-01-01 00:00:00.880262019
92999      912       192       4 1970-01-01 00:00:00.875966349

                                      movie_names
92000          searching for bobby fischer (1993)
92001                        air force one (1997)
92002                          postino, il (1994)
92003   butch cassidy and the sundance kid (1969)
92004                   warriors of virtue (1997)
...                                           ...
92995           interview with the vampire (1994)
92996                   courage under fire (1996)
92997                            star wars (1977)
92998  children of the corn: the gathering (1996)
92999                          raging bull (1980)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
93000      222       162       2 1970-01-01 00:00:00.878184087
93001      833      1274       1 1970-01-01 00:00:00.878078280
93002      542        50       4 1970-01-01 00:00:00.886532209
93003      643       393       4 1970-01-01 00:00:00.891450273
93004      197       751       3 1970-01-01 00:00:00.891409290
...        ...       ...     ...                           ...
93995      912       523       4 1970-01-01 00:00:00.875965830
93996      799       307       3 1970-01-01 00:00:00.879253795
93997      554       288       3 1970-01-01 00:00:00.876231123
93998      617       558       3 1970-01-01 00:00:00.883789425
93999      932       665       2 1970-01-01 00:00:00.891252058

                        movie_names
93000         on golden pond (1981)
93001              robocop 3 (1993)
93002              star wars (1977)
93003         mrs. doubtfire (1993)
93004    tomorrow never dies (1997)
...                             ...
93995         cool hand luke (1967)
93996  devil's advocate, the (1997)
93997                 scream (1996)
93998     heavenly creatures (1994)
93999                alien 3 (1992)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
94000      899       588       3 1970-01-01 00:00:00.884122155
94001      306       285       4 1970-01-01 00:00:00.876504354
94002      292       165       4 1970-01-01 00:00:00.881105657
94003      619        68       3 1970-01-01 00:00:00.885954105
94004      716       603       5 1970-01-01 00:00:00.879794775
...        ...       ...     ...                           ...
94995      936       928       3 1970-01-01 00:00:00.886832502
94996      707       285       5 1970-01-01 00:00:00.880059749
94997      903        46       4 1970-01-01 00:00:00.891033123
94998      727        83       5 1970-01-01 00:00:00.883710889
94999      523        56       3 1970-01-01 00:00:00.883703495

                         movie_names
94000    beauty and the beast (1991)
94001          secrets & lies (1996)
94002        jean de florette (1986)
94003               crow, the (1994)
94004             rear window (1954)
...                              ...
94995              craft, the (1996)
94996          secrets & lies (1996)
94997                 exotica (1994)
94998  much ado about nothing (1993)
94999            pulp fiction (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
95000      589       326       1 1970-01-01 00:00:00.883352600
95001      561       160       3 1970-01-01 00:00:00.885808904
95002      757       426       3 1970-01-01 00:00:00.888467270
95003      943       230       1 1970-01-01 00:00:00.888693158
95004      616       327       3 1970-01-01 00:00:00.891224558
...        ...       ...     ...                           ...
95995      548       413       3 1970-01-01 00:00:00.891416049
95996       64       197       3 1970-01-01 00:00:00.889737506
95997      657       455       1 1970-01-01 00:00:00.884239498
95998      917       328       2 1970-01-01 00:00:00.882910506
95999      682       944       3 1970-01-01 00:00:00.888522073

                                             movie_names
95000                                   g.i. jane (1997)
95001                         glengarry glen ross (1992)
95002                transformers: the movie, the (1986)
95003               star trek iv: the voyage home (1986)
95004                                    cop land (1997)
...                                                  ...
95995  tales from the crypt presents: bordello of blo...
95996                               graduate, the (1967)
95997                  jackie chan's first strike (1996)
95998                           conspiracy theory (1997)
95999                             renaissance man (1994)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
96000      541       395       2 1970-01-01 00:00:00.883866300
96001      298       282       4 1970-01-01 00:00:00.884125629
96002      299        61       4 1970-01-01 00:00:00.877880648
96003      851         4       5 1970-01-01 00:00:00.875731489
96004      837       717       1 1970-01-01 00:00:00.875722393
...        ...       ...     ...                           ...
96995      932       526       5 1970-01-01 00:00:00.891250746
96996      851       339       4 1970-01-01 00:00:00.888540093
96997      934       602       3 1970-01-01 00:00:00.891195063
96998      450      1480       3 1970-01-01 00:00:00.882468686
96999      533       147       1 1970-01-01 00:00:00.884698117

                            movie_names
96000  robin hood: men in tights (1993)
96001            time to kill, a (1996)
96002        three colors: white (1994)
96003                 get shorty (1995)
96004                 juror, the (1996)
...                                 ...
96995                    ben-hur (1959)
96996                   mad city (1997)
96997      american in paris, an (1951)
96998         herbie rides again (1974)
96999   long kiss goodnight, the (1996)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
97000      692         1       4 1970-01-01 00:00:00.876953340
97001       44       183       4 1970-01-01 00:00:00.883613372
97002      865       831       1 1970-01-01 00:00:00.880144480
97003      917       255       3 1970-01-01 00:00:00.882911158
97004      798       699       3 1970-01-01 00:00:00.875303502
...        ...       ...     ...                           ...
97995      622        62       4 1970-01-01 00:00:00.882592850
97996      869       288       3 1970-01-01 00:00:00.884490011
97997      398       367       3 1970-01-01 00:00:00.875717020
97998      887       122       5 1970-01-01 00:00:00.881379239
97999      401       537       4 1970-01-01 00:00:00.891033466

                           movie_names
97000                 toy story (1995)
97001                     alien (1979)
97002          escape from l.a. (1996)
97003  my best friend's wedding (1997)
97004              little women (1994)
...                                ...
97995                  stargate (1994)
97996                    scream (1996)
97997                  clueless (1995)
97998            cable guy, the (1996)
97999      my own private idaho (1991)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
98000      222       241       3 1970-01-01 00:00:00.878181696
98001      789       628       3 1970-01-01 00:00:00.880332215
98002      242      1355       5 1970-01-01 00:00:00.879741196
98003      497       265       4 1970-01-01 00:00:00.879310883
98004       55         7       3 1970-01-01 00:00:00.878176047
...        ...       ...     ...                           ...
98995      843       378       2 1970-01-01 00:00:00.879448230
98996      752       355       2 1970-01-01 00:00:00.891208036
98997      934       502       4 1970-01-01 00:00:00.891194539
98998      420       547       4 1970-01-01 00:00:00.891357104
98999      557      1176       5 1970-01-01 00:00:00.881179653

                                 movie_names
98000       last of the mohicans, the (1992)
98001                        sleepers (1996)
98002                        infinity (1996)
98003       hunt for red october, the (1990)
98004                  twelve monkeys (1995)
...                                      ...
98995          miracle on 34th street (1994)
98996                          sphere (1998)
98997                         bananas (1971)
98998  young poisoner's handbook, the (1995)
98999             welcome to sarajevo (1997)

[1000 rows x 5 columns]
       user id  movie id  rating                     timestamp  \
99000    774.0       391       1 1970-01-01 00:00:00.888557520
99001     34.0       991       4 1970-01-01 00:00:00.888602618
99002    883.0       238       4 1970-01-01 00:00:00.891694218
99003    843.0       127       2 1970-01-01 00:00:00.879445059
99004    942.0       498       5 1970-01-01 00:00:00.891282931
...        ...       ...     ...                           ...
99995      NaN       476       3 1970-01-01 00:00:00.880175444
99996      NaN       204       5 1970-01-01 00:00:00.879795543
99997      NaN      1090       1 1970-01-01 00:00:00.874795795
99998      NaN       225       2 1970-01-01 00:00:00.882399156
99999      NaN       203       3 1970-01-01 00:00:00.879959583

                        movie_names
99000       last action hero (1993)
99001          keys to tulsa (1997)
99002        raising arizona (1987)
99003         godfather, the (1972)
99004     african queen, the (1951)
...                             ...
99995  first wives club, the (1996)
99996     back to the future (1985)
99997                 sliver (1993)
99998         101 dalmatians (1996)
99999             unforgiven (1992)

[1000 rows x 5 columns]

## Data Load

In [130]:
cleaned_df.to_csv(r'C:\Users\Pavan_Soma\Desktop\bigdata training\Practice Data\consolidated_movie_ratings_cleaned.csv', index=False)